html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
}

.robot {
  flex-wrap: wrap;
  display: flex:
  width: 320px;
}

.robot-body {
  flex-wrap: wrap;
  display: flex:
  position: relative;
  width: 320px;
}

.robot-brain {
  position: relative;
  bottom: 80px;
  left: 141px;
  width: 46px;
}

.robot-head-right {
  position: relative;
  left: 109px;
  bottom: 47px;
}

.robot-head-right:hover {
}

.robot-head-left {
  position: relative;
  right: 145px;
  bottom: 47px;
  width: 125px;
}

.robot-head-left:hover {

}
