html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  background-color: #2b3851;
}

.robot {
  width: 320px;
  position: relative;
  height: 100%;
  margin: 0 auto;
}

.robot-body {
  position: relative;
  width: 320px;
  top: 170px;
  left: auto;
}

.robot-brain {
  position: relative;
  bottom: 135px;
  left: 141px;
  width: 46px;
}

.robot-head-right {
  position: relative;
}

.robot-head-left {
  position: relative;
  width: 125px;
}

.robot-head-left:hover {
  top: auto;
  left: auto;
  right: 0;
}

.robot-head-right:hover {
  top: auto;
  left: auto;
  right: auto;
}

.robot-brain:hover {
  top: 40px;
}
