html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
}

.robot {
  width: 320px;
}

.robot-body {
  position: relative;
  top: 184px;
  width: 320px;
}

.robot-brain {
  position: absolute;
  width: 46px;
  bottom: 85px;
  left: 110px;
}

.robot-head-right{
position: relative;
left: 110px;
bottom: 45px;
}

.robot-head-left {
  position: relative;
  width: 125px;
  right: 145px;
  bottom: 45px;
}
